$subject-width = 424
$subject-height = 424
$workflow-background = rgb(35, 35, 35)
$workflow-text-color = rgb(240, 240, 240)

.block
  pointer-events none
  cursor not-allowed

.classifier
  position relative
  margin-top 2%
  
  .viewport
    user-select none
    position relative
    width $subject-width
    height $subject-height
    padding 0 0 10px 0
    cursor crosshair
    
    div.contours
      position absolute
      width $subject-width
      height $subject-height
    
    img
      position absolute
      transition opacity 200ms linear
      
      &.no-transition
        transition none
  
  .workflow
    user-select none
    color $workflow-text-color
    background-color $workflow-background
    border-radius 4px
    padding 0

    > .row
      margin: 0
      padding: 0 15px

    .controls
      border-bottom 1px solid rgb(130, 130, 130)
      padding 6px 0 0 0
      
      .image-slider
        font-weight 700
        font-size 12px
        
        p.band
          display inline-block
          cursor pointer
          
          &:hover
            color red
          
      input[type="range"]
        vertical-align 1px
        -webkit-appearance none
        background-color rgb(212, 212, 212)
        width 65%
        height 6px
        border-radius 3px
        margin 0 6px
        
      input[type="range"]::-webkit-slider-thumb
        -webkit-appearance none
        background-color rgb(11, 180, 236)
        border 1px solid rgb(87, 162, 187)
        width 12px
        height 12px
        border-radius 6px
      
      .toggle-contours
        cursor pointer
        text-align right
        font-size 12px
        
        &:hover
          color white
        
      .message
        text-align right
        font-size 12px
    
    .instruction
      padding 15px 0

      p
        margin 0
        text-align center
        font-size 18px
        text-shadow 0 1px 0 rgb(15, 15, 15)
    
    .examples
      background-color darken($workflow-background, 15%)
      border-top 1px solid rgb(130, 130, 130)
      border-bottom 1px solid rgb(130, 130, 130)
      padding-bottom 10px
      
      text-shadow 0 1px 0 rgb(15, 15, 15)
      font-size 14px

      > .row
        padding 0

      p
        margin 0

      span
        cursor pointer
        height 30px
        
        &:hover
          background lighten($workflow-background, 10%)
          color white
        
        &.active
          text-decoration underline
      
      .example-selection
        font-size 12px
        font-weight 800
        line-height 30px

      .content
        margin-top 12px
        min-height 226px
      
      img
        max-width 100%

    > .buttons
      padding: 10px 0
      text-align right
