$subject-width = 500
$subject-height = 500

.svg-contour
  
  fill #00FF00
  fill-opacity 0
  stroke #FFF
  
  &.selected
    stroke #00FF00
    fill-opacity 0.4
  
.dashed
  svg
    path
      stroke-dasharray 5,5
      &.selected
        fill-opacity 0

g
  &.active
    circle
      stroke #00FF00
      &.remove
        stroke #FFFFFF
        display block
    text
      display block
    

path
  stroke-width 1px

circle
  fill #000
  fill-opacity 0
  stroke #FFFFFF
  stroke-width 2px
  cursor move
  
  &.handle
    fill #00FF00
    fill-opacity 1
    cursor pointer
  
  &.selected
    stroke #FAFAFA
  
  &.remove
    display none
    fill #FFFFFF
    fill-opacity 1
    stroke none
    cursor pointer

text
  display none
  font-size 11px
  stroke #FF0000
  fill #FF0000
  pointer-events none
  

.classifier
  position relative
  
  .viewport
    user-select none
    position relative
    width $subject-width
    height $subject-height
    padding-bottom 10px
    cursor crosshair
    
    div.contours
      position absolute
      width $subject-width
      height $subject-height
      opacity 1
      
      transition opacity 200ms linear
      
      &.fade
        opacity 0
    
    img
      position absolute
  
  .workflow
    color rgb(37, 52, 57)
    background-color rgb(237, 237, 237)
    border-radius 4px
    padding 2%
    margin-top 4%
    
    &:before
     content ""
     position absolute
     right 100%
     top 19%
     width 0
     height 0
     border-top 10px solid transparent
     border-right 10px solid rgb(237, 237, 237)
     border-bottom 10px solid transparent
     
    .controls
      border-bottom 1px solid #D3D3D3
      box-shadow inset 0 0 0 #FFF, 0 1px 0 #FFF
      
      .image-slider
        font-weight 700
        font-size 12px
        text-shadow 0 1px 0 #FAFAFA
        
        p
          display inline-block
          
      input[type="range"]
        vertical-align 1px
        -webkit-appearance none
        background-color rgb(212, 212, 212)
        width 50%
        height 6px
        border-radius 3px
        margin 0 6px
        
      input[type="range"]::-webkit-slider-thumb
        -webkit-appearance none
        background-color rgb(11, 180, 236)
        border 1px solid rgb(87, 162, 187)
        opacity 0.5
        width 12px
        height 12px
        border-radius 6px
        
      .message
        text-align right
        color rgb(182, 182, 182)
        text-shadow 0 1px 0 #FAFAFA
        font-size 12px
    
    .instruction
      margin 4% 0
      p
        margin 0
        text-align center
        font-size 22px
        font-weight 500
        text-shadow 0 1px 0 #FAFAFA
        color rgb(6, 23, 29)
        
    .examples
      background-color rgb(212, 212, 212)
      margin 5% -5%
      padding 30px
      box-shadow inset 0 1px 0 rgb(205, 205, 205), 0 1px 0 rgb(205, 205, 205)
      
      img
        width 90%
        margin-left 5%
    
  