
$gutter-size = 20px
$column-size = 65px
$one-half = ($column-size * 6) + ($gutter-size * 5)

$green = #C1EA00
$dark-gray = #01050F
$dark-blue = #003C57

clearfix()
  &:after
    content: ''
    display: block
    clear: both

.home
  
  .headline
    font-family "Open Sans", "Helvetica"
    font-weight 700
    font-size 36px
    color #EFEFEF
    width 100%
    text-align center
    margin-top 30px
    padding 0px
    
    p.call-to-action
      font-family "Open Sans", "Helvetica"
      font-weight 400
      font-size 14px
      color #efefef
      padding 0px
      margin 0px
    
  .slider
    display block
    border-top 1px solid $dark-blue
    border-bottom 1px solid $dark-blue
    margin-top 34px
    margin 34px 93px 0 60px
    padding $gutter-size 0px
    
    .slide-element
      min-height 290px
      
      &.radio-galaxy-zoo
        background url("images/rgz_slider.jpg") #000 no-repeat
      
      .credit
        position relative
        bottom -300px
        font-size 8px
        text-align right
      
      .right
        display inline-block
        width $one-half
        text-align right
        
        p
          display inline-block
          font-size 14px
      
      .left
        display inline-block
        width $one-half
        padding 0 25px
        
        .header-blue
          font-family "Open Sans", "Helvetica"
          font-weight 800
          font-size 12px
          color #0079ae
          text-transform uppercase
          padding 0
          margin 0
          
        .header-title
          font-family "Open Sans", "Helvetica"
          font-weight 600
          font-size 20px
          color #EFEFEF
          padding 0
          margin 0
          line-height 55px
          
        .description
          font-family "Open Sans", "Helvetica"
          font-weight 400
          font-size 11px
          line-height 18px
          color #efefef
          width 300px
          
        .blue-button
          display inline-block
          background-color $green
          font-family "Open Sans", "Helvetica"
          font-weight 800
          font-size 12px
          line-height 18px
          color $dark-gray
          text-decoration none
          margin-top 5px
          padding 4px 10px
          -webkit-border-radius 3px
          border-radius 3px