@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,400italic,700|Open+Sans+Condensed:700,300)')

@import 'bootstrap.css'
@import './zooniverse/dialog.css'
@import './zooniverse/footer.css'
@import './zooniverse/profile.css'
@import './zooniverse/top-bar.css'
@import './zooniverse/zooniverse.css'

@import './zooniverse/zootorial.css'

@import './home'
@import './svg'
@import './sed'
@import './classifier'
@import './tutorial'
@import './science'
@import './team'
@import './profile'
@import './common'

body
  background url("images/gz_headerimage.jpg") no-repeat scroll 50% 0 #000
  color: #EFEFEF
  margin 0 0 50px 0
  font-family: "Open Sans", "Helvetica"
  
#navigation
  width 1000px
  margin 0 auto
  margin-top 40px
  height 80px
  padding 45px 0 0 0
  
  ul
    padding 0
    margin 0
    
    li
      width 100px
      line-height 76px
      vertical-align middle
      display inline-block
      text-align center
      margin-right 20px
      position relative
      
      a
        font-size 12px
        font-weight 700
        color #EFEFEF
        text-transform uppercase
      
      &.disabled
        pointer-events none
      
      &.logo
        min-width 235px
        background-position center 50% 50%
        height 76px
        
        img
          border 0
  
#main
  margin 0 auto
  margin-top 100px
  width 1000px
