.classifier {
  position: relative;
}
.classifier .loader {
  background: #008000;
  color: #fff;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}
.classifier .subject {
  border: 1px solid #000;
  height: 400px;
  width: 800px;
}
.classifier .subject .point {
  background: #000;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}
.classifier.loading .loader {
  display: block;
}
body.radio {
  color: #fff;
  padding: 0 0 40px;
  background: #000;
  font: 12px/26px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.radio a {
  color: #fff;
  text-decoration: none;
}
body.radio a:hover,
body.radio a:active {
  text-decoration: underline;
}
.radio--wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.radio--header {
  margin-top: 80px;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
.radio--header .radio--header--nav {
  margin: 0;
  top: 28px;
  display: block;
  list-style: none;
  position: absolute;
}
.radio--header .radio--header--nav .radio--header--nav--item {
  width: 170px;
  display: block;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.radio--header .radio--header--nav.radio--header--nav__left {
  left: 0;
}
.radio--header .radio--header--nav.radio--header--nav__left .radio--header--nav--item {
  float: left;
}
.radio--header .radio--header--nav.radio--header--nav__right {
  right: 0;
}
.radio--header .radio--header--nav.radio--header--nav__right .radio--header--nav--item {
  float: right;
}
.radio--row {
  padding-top: 20px;
  overflow: hidden;
}
.radio--options {
  list-style: none;
  text-align: center;
  background: url("../img/radio-options.png") repeat-x 0 bottom;
}
.radio--options .radio--options--item {
  display: inline-block;
  padding: 0 12px;
  font-size: 11px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.radio--options .radio--options--item.radio--options--item__active {
  background: url("../img/radio-option-active.png") no-repeat center bottom;
}
.radio--options .radio--options--item.radio--options--item__active,
.radio--options .radio--options--item.radio--options--item__active a {
  color: #00b2d3;
}
.radio--wizard {
  padding-top: 10px;
}
.radio--wizard .radio--wizard--viewer {
  float: left;
  position: relative;
}
.radio--wizard .radio--wizard--viewer .radio--wizard--viewer--image {
  top: 0;
  left: 0;
  max-width: 400px;
  position: absolute;
}
.radio--wizard .radio--wizard--info {
  width: 500px;
  float: right;
  color: #485359;
  text-align: center;
  border: 6px solid #003d59;
  border-radius: 4px;
}
.radio--wizard .radio--wizard--info a {
  color: #00b0eb;
}
.radio--wizard .radio--wizard--info p {
  margin: 0;
}
.radio--wizard .radio--wizard--info h1 {
  margin: 0;
  color: #09181f;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
.radio--wizard .radio--wizard--info .radio--wizard--info--row {
  padding: 18px 20px;
  background: #ededed;
  overflow: hidden;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #dedede;
}
.radio--wizard .radio--wizard--info .radio--wizard--info--row.radio--wizard--info--row__top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.radio--wizard .radio--wizard--info .radio--wizard--info--row.radio--wizard--info--row__bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.radio--wizard .radio--wizard--info .radio--wizard--info--row.radio--wizard--info--row__inset {
  background: #d4d4d4;
  border-color: #bdbdbd;
}
.radio--wizard .radio--wizard--info .radio--wizard--slide {
  float: left;
}
.radio--wizard .radio--wizard--info .radio--wizard--slide .radio--wizard--slide--label {
  display: inline-block;
  font-weight: 600;
}
.radio--wizard .radio--wizard--info .radio--wizard--slide .radio--wizard--slide--line {
  width: 110px;
  height: 4px;
  margin: -1px 11px 0;
  vertical-align: middle;
  position: relative;
  background: #d4d4d4;
  display: inline-block;
  border: 1px solid #aeaeae;
  border-radius: 2px;
}
.radio--wizard .radio--wizard--info .radio--wizard--slide .radio--wizard--slide--line .radio--wizard--slide--dot {
  top: -2px;
  left: -1px;
  width: 6px;
  height: 6px;
  cursor: ew-resize;
  border-radius: 4px;
  background: #25c0f6;
  border: 1px solid #0d91b8;
  position: absolute;
  display: inline-block;
}
.radio--wizard .radio--wizard--info .radio--wizard--status {
  float: right;
  color: #b1b1b1;
  font-size: 11px;
}
.radio--wizard .radio--wizard--info .radio--wizard--examples--label {
  color: #787878;
  font-weight: 500;
  margin-bottom: 18px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
}
.radio--wizard .radio--wizard--info .radio--wizard--examples {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.radio--wizard .radio--wizard--info .radio--wizard--examples .radio--wizard--example {
  padding: 0 4px;
  display: inline;
}
.radio--wizard .radio--wizard--info .radio--wizard--info--button {
  width: 93px;
  float: right;
  color: #3b3b3b;
  cursor: pointer;
  margin-left: 3px;
  background: #f5f5f5;
  display: inline-block;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  line-height: 23px;
  font-size: 13px;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.6);
}
.radio--wizard .radio--wizard--info .radio--wizard--info--button.radio--wizard--info--button__blue {
  color: #fff;
  background: #02aeee;
  border-color: #00779c;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
