
$green = #00FF00

@keyframes pulsate {
    0% { opacity: 1}
    50% { opacity: 0}
    100% { opacity: 1}
}

@keyframes pulsate-and-hide {
    0% { opacity: 0}
    50% { opacity: 1}
    100% { opacity: 0}
}

@keyframes pulsate-to-white {
    0% { opacity: 1}
    50% { opacity: 0}
    100% { opacity: 1}
}


div.contours
  
  &.fade-contour
    svg
      g.contours
        opacity 0
  
  svg
    width 100%
    height 100%
    fill $green
    fill-opacity 0
    stroke #FFF
    opacity 1
    
    circle.source, circle.tutorial
      stroke-width 2px
      stroke $green
      cursor pointer
    
    circle.tutorial
      animation-duration 1s
      animation-timing-function ease-in-out
      animation-iteration-count 2
      &.pulsate
        opacity 1
        animation-name pulsate
      &.pulsate-and-hide
        opacity 0
        animation-name pulsate-and-hide
        
        path
          stroke $green
          fill-opacity 0.4
    
    g.contours
      transition opacity 200ms linear
      
      g.contour-group
        path
          stroke-width 1.35px
          opacity 1
          
        &.selected
          path
            stroke $green
            fill-opacity 0.08
        &.matched
          display none
        &.pulsate
          opacity 1
          animation-name pulsate
          animation-duration 1.25s
          animation-timing-function ease-in-out
          animation-iteration-count 2
          
          path
            stroke $green
            fill-opacity 0.08
        
        &.pulsate-to-white
          opacity 1
          animation-name pulsate-to-white
          animation-duration 1.25s
          animation-timing-function ease-in-out
          animation-iteration-count 2
          stroke #FFF
    
    g.infrared
      g
        opacity 1
        
        circle
          fill #000
          stroke #FFF
          stroke-width 2px
          cursor move
          
          &.handle
            fill $green
            fill-opacity 1
            cursor pointer
            
          &.remove
            display none
            fill #FFF
            fill-opacity 1
            stroke none
            cursor pointer
            
        text
          display none
          font-size 11px
          stroke #FF0000
          pointer-events none
          
        &.hide
          opacity 0
        &.active
          circle
            &.annotation
              stroke $green
            &.remove
              stroke #FFFFFF
              display block
          text
            display block

  &.step-2, &.step-3
    svg
      g.contours
        g.contour-group
          pointer-events none
          display none
          
          &.selected
            display block
            path
              display none
            path:last-child
              display block
              fill-opacity 0
              stroke-dasharray 5,5
  
  &.step-1, &.step-2
    svg
      g.infrared
        g.matched
          display none
          
  &.step-3
    svg
      g.contours
        g.contour-group
          pointer-events none
          display none
          
          &.matched
            display block
            stroke $green
            opacity 0.8
            
      g.infrared
        g.matched
          circle.annotation
            stroke #FFF
            stroke-dasharray 5,5
          circle.handle
            display none
          circle.remove
            display none
          text
            display none
  
  &.strays
    svg
      g.infrared
        display none
      g.contours
        g.contour-group
          display block
          stroke $green
          animation-name pulsate
          animation-duration 1.25s
          animation-timing-function ease-in-out
          animation-iteration-count 2
          &.matched
            display none
          