
$green = #00FF00

div.contours
  
  svg
    width 100%
    height 100%
    fill $green
    fill-opacity 0
    stroke #FFF
    opacity 1
    
    path
      stroke-width 1.35px
      opacity 1
      transition opacity 200ms linear
      
      &.selected
        stroke $green
        fill-opacity 0.4
    
    circle.source
      stroke-width 2px
      stroke $green
      cursor pointer
  
  &.fade-contour
    svg
      path
        opacity 0
  
  &.dashed
    svg
      path
        stroke-dasharray 5,5
        
        &.selected
          fill-opacity 0
  
  &.final
    svg
      circle
        &.annotation
          stroke-dasharray 5,5
        &.handle
          display none
  
  g
    opacity 1
    
    circle
      fill #000
      stroke #FFF
      stroke-width 2px
      cursor move
      
      &.handle
        fill $green
        fill-opacity 1
        cursor pointer
      
      &.remove
        display none
        fill #FFF
        fill-opacity 1
        stroke none
        cursor pointer
    
    text
      display none
      font-size 11px
      stroke #FF0000
      pointer-events none
    
    &.active
      
      circle
        &.annotation
          stroke $green
        
        &.remove
          stroke #FFFFFF
          display block
      
      text
        display block