@import "nib"
@import "colors"

.block
  pointer-events none
  cursor not-allowed

.keyboard-modal
  width: 200px
  position: absolute
  left: 0
  top: 375px
  transform: translate(-200px)
  transition: transform 0.5s ease-in-out

  ul
    font-size: 12px

  &.active
    transform: translate(20px)

.classifier
  position relative
  margin-top 2%

  .viewport
    padding-bottom: 10px
    -webkit-user-select none 
    -moz-user-select none
    -ms-user-select none
    -o-user-select none
    user-select none
    
    position: relative
    width: $subject-width
    height: $subject-height
    padding 0 0 10px 0
    cursor crosshair
    margin: 0 auto
    
    div.contours
      border 1px solid $dark-blue
      position absolute
      width $subject-width
      height $subject-height
    
    img
      position absolute
      transition opacity 200ms linear
      width $subject-width
      height $subject-height
      left: 1px
      top: 1px
      
      &.no-transition
        transition none
  
  .workflow
    user-select none
    color $workflow-text-color
    background-color $workflow-background
    border-radius 4px
    padding 0

    .toggle-contours, .tutorial, .keyboard
      background-repeat no-repeat
      background-position center center
      background-size: 80% 80%
      background-color: transparent
      cursor pointer
      text-align center
      vertical-align middle
      font-size 12px
      line-height 12px
      position absolute
      width 50px
      height 50px
      right: -65px
      top: 0
      border-radius: 50%
      border-width: 2px

      &:hover
        background-color: #111

    .toggle-contours
      background-image url('../images/hide-contours.png')
      
    .nocontours 
      background-image url('../images/show-contours.png')

    .tutorial
      top: 65px
      background-image url('../images/tutorial.svg')

    .keyboard
      top: 130px
      background-image url('../images/keyboard.svg')

      &.active
        background-color #fb3a3a
        border-color #fb3a3a

    .row
      margin 0 auto
      width $subject-width

    .controls
      // border-top 1px solid rgb(130, 130, 130)
      // border-bottom 1px solid rgb(130, 130, 130)
      padding 6px 0 0 0
      
      .image-slider
        font-weight 700
        font-size 12px
        width $subject-width
        padding 5px 0 0 0
        
        p.band
          display inline-block
          cursor pointer
          
          &:hover
            color red
          
      input[type="range"]
        vertical-align 1px
        width 350px
        height 6px
        border-radius 3px
        margin 0 6px
       
      .message
        text-align right
        font-size 12px
    
    .instruction
      border-top 1px solid #003c57
      border-bottom 1px solid #003c57
      padding 15px 0
      width $subject-width
      margin 0 auto

      p
        margin 0
        text-align center
        font-size 18px
        text-shadow 0 1px 0 rgb(15, 15, 15)

    > .buttons
      padding: 10px 0
      width $subject-width
      margin 0 auto
      text-align right

    .cancel, .reset
      background-color #fb3a3a
      border-color: #fb3a3a
      float: left

      div
        padding-right 0
        padding-left 0

    .done, .next
      padding: 0 10px
      text-align: center
      font-weight: 700

    .favorite.active
      background-color #fb3a3a
      border-color: #fb3a3a

    .discuss
      padding: 4px 6px
      height: 38px
      width: 52px
