$subject-width = 424
$subject-height = 424
$workflow-background = rgb(0, 0, 0) $workflow-text-color = rgb(240, 240, 240) 

$green = #C1EA00
$dark-gray = #01050F
$dark-blue = #003C57

$cancel = rgb(251, 58, 58) 
$cancel-border = rgb(238, 45, 45)
$btn = rgb(66, 139, 202) 
$btn-border = rgb(53, 126, 189)
