@import "nib"
@import "colors"

h1, h2, h3
  border-bottom 1px solid $dark-blue
  color #efefef
  font-family "Open Sans Condensed"
  line-height 30px
  margin-bottom 10px
  font-weight: 500

h1
  font-size: 30px

h2
  font-size: 25px

h3
  font-size: 20px

section
  padding: 0 35px
  width: 1000px
  box-sizing: border-box
  margin: 0 auto

section > .row
    box-sizing: border-box
    width: 100%
    margin: 20px auto

    .column
      box-sizing: border-box
      display: inline-block

      &.full
        width: 100%
        margin: 0 auto

      &.half
        width: 49%

        &:last-child
          float: right

.recents a, .description a
  text-transform: uppercase
  color: $dark-blue
  text-decoration: none
  font-weight: 700

p.description
  font-weight: 400
  line-height: 20px
