@import "nib"
@import "colors"

h1, h2, h3
  border-bottom 1px solid $dark-blue
  color #efefef
  font-family "Open Sans Condensed"
  line-height 30px
  margin-bottom 10px
  font-weight: 500

h1
  font-size: 30px

h2
  font-size: 25px

h3
  font-size: 20px


.zooniverse-footer
  color: #898989

section
  padding: 0 35px
  box-sizing: border-box
  margin: 0 auto
  display: none

  &.active
    display: block

section > .row
    box-sizing: border-box
    width: 100%
    margin: 20px auto

    .column
      box-sizing: border-box
      display: inline-block

      &.centered
        text-align: center

.recents a, .description a
  text-transform: uppercase
  color: $dark-blue
  text-decoration: none
  font-weight: 700

p.description
  font-weight: 400
  line-height: 24px

.btn
  color: #fff
  border: 1px solid $btn-border
  box-sizing: border-box
  background: $btn
  height: 30px
  border-radius: 3px
  transition: all 0.2s ease-in-out

  &[DISABLED]
    background: darken($btn, 50%)
    border-color: darken($btn-border, 50%)
    color: darken(#fff, 50%)

    &:hover
      background: darken($btn, 50%)
      border-color: darken($btn-border, 50%)
      color: darken(#fff, 50%)

  &:hover
    border-color: darken($btn-border, 20%)
    background: darken($btn, 20%)

  &.grey
    background: lighten($dark-gray, 10%)
    border-color: lighten($dark-gray, 10%)

    &:hover
      background: $dark-gray
      border-color: $dark-gray

  &.cancel
    background: $cancel
    border-color: $cancel-border

    &:hover
      border-color: darken($cancel-border, 20%)
      background: darken($cancel, 20%)

    &[DISABLED]
      background: darken($cancel, 50%)
      border-color: darken($cancel-border, 50%)
      color: darken(#fff, 50%)

      &:hover
        border-color: darken($cancel-border, 50%)
        background: darken($cancel, 50%)
        color: darken(#fff, 50%)

@media (min-width: 1000px)
  section
    width: 1000px

    .row
      .column
        &.full
          width: 100%
          margin: 0 auto

        &.half
          width: 49%
          padding-right: 20px
          overflow: hidden

          &:last-child
            padding-left: 20px
            padding-right: 0
            float: right

@media (max-width: 1000px)
  section
    width: 500px

    .row
      .column
        &.full
          100%
          margin 0 auto

        &.half
          width: 100%
          margin: 0 auto
          overflow: hidden

  .zooniverse-footer
    width: 500px
    margin: 0 auto 20px

    .projects
      display: none

    .general
      .category
        width: 100%

