@import "nib"
@import "colors"

.example-container
  position: absolute
  left: 0
  margin: 0

  .example-selection
    z-index: 10
    font-size 12px
    font-weight 800
    line-height 30px
    position: absolute
    transform: translateX(0) rotate(90deg)
    padding-left: 20px
    padding-right: 20px
    cursor: pointer
    left: -75px
    top: 55px 
    display: inline-block
    background: #428bca
    transition: transform 0.5s ease-in-out
    width: 140px
    text-align: center

    &.active
      transform: translateX(630px) rotate(90deg)
      background-color #fb3a3a

  .examples
    background-color darken($workflow-background, 15%)
    overflow: hidden
    height: 650px
    transition: transform 0.5s ease-in-out
    margin-bottom: 20px
    position: absolute 
    left: -630px
    margin-left: 0
    width: 630px
    z-index: 10
    transform: translateX(0)
    top: -20px
    text-shadow 0 1px 0 rgb(15, 15, 15)
    font-size 14px

    &.active
      transform: translateX(630px)

    > .row
      padding 0

    p
      margin 0
      width: inherit
      padding: 10px
      box-sizing: border-box

    span.example
      cursor pointer
      text-align: center
      height 30px
      background-color #428bca
      text-shadow: none
      width: 210px
      box-sizing: border-box
      padding: 5px
      display: inline-block
      float: left
      
      &:hover
        background lighten($workflow-background, 30%)
      
      &.active
        background lighten($workflow-background, 20%)

    .content
      margin-top 12px
      min-height 226px
      display: none

      &.active
        display: block
    
    img
      width: 270px
      height: 270px
      display: inline
      margin: 5px


    .example-box 
      overflow-y: auto
      height: 620px
      width: inherit
      margin-left: 0
      
      > div .row
        margin: 0 auto
        width: 600px   
        padding-top: 15px
        text-align: center

        &:last-child
          border: none

        &:first-child
          padding-top: 15px

        p
          text-align: left

