@import "nib"

html
  margin: 0 0 50px 0

body
  background: url("../images/gz_headerimage.jpg") no-repeat scroll 50% 0 #000
  color: #EFEFEF
  margin: 0 auto
  font-family: "Open Sans", "Helvetica"
  font-size: 14px

nav  
  margin 45px auto 40px auto
  text-align: center

  .logo
    width: 235px
    margin: 0 auto
  
  ul
    padding: 0
    margin: 0
    display: inline-block

    &.pull-right
      float: right 

    &.pull-left
      float: left
    
    li
      vertical-align middle
      text-align center

      a
        font-size 12px
        font-weight 700
        color #EFEFEF
        text-transform uppercase
        text-decoration: none
      
      &.disabled
        pointer-events none
        
.container
  margin 0 auto
  margin-top 80px
  width 1000px

#footer
  padding-top 60px

@media (min-width: 1000px)
  nav  
    width 1000px

    .logo
      display: inline-block

    ul
      
      li
        line-height 76px
        display inline-block
        text-align center
        width 80px

        &:last-child
          margin-right: 0
          text-align: right

        &:first-child
          text-align: left

          
      &.pull-right
        margin-right: 80px

      &.pull-left
        margin-left: 80px

@media (max-width: 1000px)
  nav
    width: 500px

    .logo
      display: block

    ul
      list-style-type: none
      width: 50%
      margin-bottom: 30px

      li
        margin: 0
        padding: 5px 0

  .container
    width: 500px