@import "nib"

html
  background: url("../images/gz_headerimage.jpg") no-repeat scroll 50% 0 #000
  margin: 0 0 50px 0

body
  color: #EFEFEF
  margin: 0 auto
  font-family: "Open Sans", "Helvetica"
  font-size: 14px

nav  
  width 1000px
  margin 5px auto 70px auto
  height 80px
  padding 45px 0 0 0
  
  ul
    width: inherit
    padding 0
    margin 0
    
    li
      line-height 76px
      vertical-align middle
      display inline-block
      text-align center
      margin-right 80px
      position relative

      &:last-child
        margin-right: 0
        text-align: right
      
      a
        font-size 12px
        font-weight 700
        color #EFEFEF
        text-transform uppercase
        text-decoration: none
      
      &.disabled
        pointer-events none
      
      &.logo
        min-width 235px
        background-position center 50% 50%
        height 76px
        
.container
  margin 0 auto
  margin-top 80px
  width 1000px
  
#footer
  padding-top 60px