!app/lib/zooniverse*.js

public/
.DS_Store
docs/
node_modules/
bower_components/
build/
data-import/
*.map
css/bootstrap.css
css/zooniverse
public/subjects/
scripts/radio-galaxy-zoo-*
*rgz*
*rgz_fits*
*subjects*
.env
*.fits
*.fits.gz
scripts/converted
.aws-cred.json