!app/lib/zooniverse*.js

.DS_Store
docs/
node_modules/
build/
app/lib/
public/data*
data-import/
public/*.json
server/*.js
*.map
server/*.json
scripts/*.json
public/videos/
css/bootstrap.css
css/zooniverse